
<%- include('../partials/adminAside.ejs') %>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

   <%- include('../partials/adminNavbar.ejs') %>

 <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between">
              <h6 class="text-white text-capitalize ps-3">Products List</h6> 
              <!-- <div> -->
                <a class="btn bg-gradient-dark me-3" href="/admin/coupons/addCoupon">Add Coupon</a>
              <!-- </div>   -->
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-3">

              <table class="table align-items-center mb-0" id="sortTable">

                <thead>
                  <tr>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Code</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Discount</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Min Purchase</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Expiry Date</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Count</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Edit</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cancel</th>
                  </tr>
                </thead>

                <tbody>

                  <% 
                    if(coupons && coupons.length > 0){
                      for(let i=0; i<coupons.length; i++){
                         %>
                            <tr>

                                <td class="align-middle text-center text-sm">
                                    <p class="text-xs font-weight-bold mb-0"><%= coupons[i].code %></p>
                                </td>

                                <td class="align-middle text-center text-sm">
                                    <p class="text-xs font-weight-bold mb-0 text-wrap"><%= coupons[i].description %></p>
                                </td>

                                <td class="align-middle text-center text-sm">
                                    <% 
                                    if(coupons[i].discountType === 'Percentage'){
                                      %>
                                      <p class="text-xs font-weight-bold mb-0"><%= coupons[i].discountAmount %> %</p>
                                      <p class="text-xs font-weight-bold mb-0">upto &#8377;<%= coupons[i].maxDiscountAmount %> </p>
                                      <%  
                                    }else if(coupons[i].discountType === 'Fixed Amount'){
                                      %>
                                      <p class="text-xs font-weight-bold mb-0">&#8377; <%= coupons[i].discountAmount %></p>
                                      <%  
                                    }
                                    %>

                                </td>

                                <td class="align-middle text-center text-sm">
                                    <p class="text-xs font-weight-bold mb-0">&#8377; <%= coupons[i].minPurchase %></p>
                                </td>

                                <td class="align-middle text-center text-sm">
                                    <% 
                                    const dd = coupons[i].expiryDate.getDate();
                                    const mm = coupons[i].expiryDate.getMonth() + 1;
                                    const yyyy = coupons[i].expiryDate.getFullYear();
                                    
                                    const formattedDate = `${dd}-${mm}-${yyyy}`; 
                                    %>
                                    <p class="text-xs font-weight-bold mb-0"><%= formattedDate %></p>
                                </td>

                                <td class="align-middle text-center text-sm">
                                  <p class="text-xs font-weight-bold mb-0"> <%= coupons[i].usedUsers.length %> used</p>
                                  <p class="text-xs font-weight-bold mb-0"> out of <%= coupons[i].couponCount %></p>
                                </td>

                                <td class="align-middle text-center text-sm">
                                    <a href="/admin/coupons/editCoupon/<%= coupons[i]._id %>" class="btn btn-primary">Edit</a>
                                </td>

                                <td class="align-middle text-center">
                                    <% 
                                      if(coupons[i].isCancelled === true){
                                         %>
                                           <a href="#cancelCouponModal" class="btn btn-success modalBTN"  data-bs-toggle="modal" data-id="<%= coupons[i]._id %>">Add</a>
                                         <%
                                      }else{
                                          %>
                                          <a href="#cancelCouponModal" class="btn btn-danger modalBTN"  data-bs-toggle="modal" data-id="<%= coupons[i]._id %>">Cancel</a>
                                          <%
                                      }
                                    %>
          <!-- Modal Start  -->
          <div class="modal fade" id="cancelCouponModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Are You Sure?</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                          <strong> Are you sure? Do you want to Delete/Add this product ?</strong>
                          <div class="modal-footer mt-2">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <a id="confirmBTN" class="btn btn-primary">Confirm</a>
                          </div>
                  </div>
              </div>
            </div>
        </div> 
        <!-- Modal End  -->
                                </td>  

                            </tr>
                         <% 
                      }
                    }else{
                        %>
                        <tr>
                            <td>
                                <h6>Coupons not added yet, add new coupons</h6>
                            </td>
                        </tr>
                        <%  
                    }
                  %>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/adminFooter.ejs') %>      

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<script>
      $('.modalBTN').click( function () {
        var id = $(this).data('id');
        var routeURL = '/admin/coupons/cancelCoupon/'+id
        $(".modal-footer #confirmBTN").attr('href', routeURL);
    });
</script>



<%- include('../partials/adminScript.ejs') %>
