
<%- include('../partials/adminAside.ejs') %>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

   <%- include('../partials/adminNavbar.ejs') %>

 <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between">
              <h6 class="text-white text-capitalize ps-3">Edit Brand Offer</h6>

            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                
                    <form action="/admin/brandOffers/editBrandOffer/<%= brandOffer._id %>" method="post" class="p-4">

                        <div class="form-outline mb-3 row input-group input-group-outline  ">
                            <div class=" col-md-6 col-12 mb-3">
                                <label for="name">Offer Name</label>
                                <input type="text" id="name" class="form-control form-control-md rounded-0" value="<%= brandOffer.name %>"
                                placeholder="Enter Offer Name" name="name" required/>
                                <small id="nameErr" class="error"></small>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="discount">Discount %</label>
                                <input type="number" id="discount" class="form-control form-control-md rounded-0" value="<%= brandOffer.discount %>"
                                placeholder="Enter Discount" name="discount" required/>
                                <small id="discountErr" class="error"></small>
                            </div>
                        </div>
                        <div class="form-outline mb-3 row input-group input-group-outline ">
                            <div class=" col-md-6 col-12 mb-3">
                                <label for="brand">Brand</label>
                                <!-- <input type="text" id="brand" class="form-control form-control-md rounded-0" name="brand" required/> -->
                                <select name="brand" id="brand"  class="form-control">
                                    <% 
                                    if(brands && brands.length > 0){
                                        brands.forEach((brand) => {
                                            %>
                                            <option value="<%= brand %>" <% if(brand == brandOffer.brand ){ %> selected <%   } %>><%= brand %></option>
                                            <% 
                                        })
                                    }else{
                                        %>
                                        <option value="">No Brands Available</option>
                                        <% 
                                    }
                                    %>
                                </select>
                                <small id="brandErr" class="error"></small>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="category">Select Category</label>
                                <!-- <input type="text" id="category" class="form-control form-control-md rounded-0" name="category" required/> -->
                                <select name="category" id="category"  class="form-control">
                                    <% 
                                    console.log(brandOffer)
                                    console.log(categories)
                                    if(categories && categories.length > 0){
                                        categories.forEach((cat) => {
                                            %>
                                            <option value="<%= cat._id %>" <% if(cat.name == brandOffer.categoryId.name ){ %> selected <% } %>><%= cat.name %></option>
                                            <% 
                                        })
                                    }else{
                                        %>
                                        <option value="">No Categories</option>
                                        <% 
                                    }
                                    %>
                                </select>
                                <small id="categoryErr" class="error"></small>                                     
                            </div>
                        </div>
                        <div class="form-outline mb-3 row input-group input-group-outline ">
                            <div class="col-md-6 col-12">
                                <label for="expiryDate">Select Expiry Date</label>
                                <input type="date" id="expiryDate" class="form-control form-control-md rounded-0"  value="<%= brandOffer.expiryDate ? brandOffer.expiryDate.toISOString().substr(0, 10) : '' %>"
                                name="expiryDate" required/>
                                <small id="expiryDateErr" class="error"></small>                                     
                            </div>
                        </div>
                        <div class="text-center my-2">
                            <button class="btn btn-dark btn-md rounded-pill px-5 py-2 login-btn" type="submit" onclick="return validateOffer()">UPDATE</button>
                        </div>

                    </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/adminFooter.ejs') %>      

</main>

    <script src="/validations/offerValidation.js"></script>

<%- include('../partials/adminScript.ejs') %>
