
<%- include('../partials/adminAside.ejs') %>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

   <%- include('../partials/adminNavbar.ejs') %>

 <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Users List</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-3">

              <table class="table align-items-center mb-0" id="sortTable">

                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Mobile</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">DOJ</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Block User</th>
                  </tr>
                </thead>

                <tbody>

                  <% 
                    if(userData.length > 0){
                      for(let i=0; i<userData.length; i++){
                         %>
                            <tr>

                              <td>
                                <div class="d-flex px-2 py-1">
                                  <!-- <div>
                                    <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                                  </div> -->
                                  <div class="d-flex flex-column justify-content-center">
                                    <% 
                                      const fullName = userData[i].fname+' '+userData[i].lname
                                    %>
                                    <h6 class="mb-0 text-sm"><%= fullName %>l</h6>
                                    <p class="text-xs text-secondary mb-0"><%= userData[i].email %></p>
                                  </div>
                                </div>
                              </td>

                              <td>
                                <p class="text-xs font-weight-bold mb-0"><%= userData[i].mobile %></p>
                              </td>

                              <td class="align-middle text-center text-sm">
                                <% 
                                  const dd = userData[i].doj.getDate();
                                  const mm = userData[i].doj.getMonth() + 1;
                                  const yyyy = userData[i].doj.getFullYear();
                                  
                                  const formattedDate = `${dd}-${mm}-${yyyy}`; 
                                %>
                                <span class="text-secondary text-xs font-weight-bold"><%= formattedDate %></span>
                              </td>

                              <td class="align-middle text-center">
                                <% 
                                  if(!userData[i].isBlocked){
                                     %>
                                        <a href="#confirmationPopUp" class="btn btn-danger modalBTN" data-bs-toggle="modal" data-id="<%= userData[i]._id %>">Block</a>
                                     <%
                                  }else{
                                    %>
                                      <a href="#confirmationPopUp" class="btn btn-success modalBTN" data-bs-toggle="modal" data-id="<%= userData[i]._id %>">Unblock</a>
                                    <%
                                  }
                                %>
                              </td>

                                                                  <!-- Modal Start  -->
                                                                  <div class="modal fade" id="confirmationPopUp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                      <div class="modal-content">
                                                                          <div class="modal-header">
                                                                          <h1 class="modal-title fs-5" id="exampleModalLabel">Are You Sure?</h1>
                                                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                          </div>
                                                                          <div class="modal-body">
                                                                                  <strong> Do you want to Block/Unblock this user ?</strong>
                                                                                  <div class="modal-footer mt-2">
                                                                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                                      <a id="confirmBTN" class="btn btn-primary">Confirm</a>
                                                                                  </div>
                                                                          </div>
                                                                      </div>
                                                                    </div>
                                                                </div> 
                                                                <!-- Modal End  -->
                              
                            </tr>
                         <% 
                      }
                    }
                  %>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    $('.modalBTN').click( function () {
        var userId = $(this).data('id');
        var routeURL = '/admin/users/block/'+userId
        $(".modal-footer #confirmBTN").attr('href', routeURL);
    });
</script>

  <%- include('../partials/adminFooter.ejs') %>      

</main>

<%- include('../partials/adminScript.ejs') %>
