
<%- include('../partials/head.ejs') %>
<%- include('../partials/userHeader.ejs') %>
<%- include('../partials/userBreadcrub.ejs') %>




    <!-- Checkout Section Begin -->
    <section>
        <div class="container">
            <div class="my-5">
                    <div class="row">
                        <div class="col-lg-8 col-md-6" >
                            <h2 class="">Billing Details</h2>
                            <hr>
                            <div class="cart__discount">
                                <h6>Apply Coupons</h6>
                                <form action="" id="applyCoupon" method="" class="form-group d-flex">
                                    <input type="text" name="code" class="form-group rounded-0 flex-grow-1 border border-bottom-1" style="height: 40px; border-bottom: 1;" placeholder="Enter Coupon code">
                                    <button type="submit" class="btn btn-dark rounded-0" style="margin-left: -5px; height: 40px;">Apply</button>
                                </form>
                                <div style="position: relative; top: 10px;">
                                    <!-- <a class="text-primary" style="cursor: pointer;" data-bs-toggle="modal"
                                        href="#exampleModal">Explore Coupons</a> -->
                                    <h6 class="text-danger" id="couponErr"></h6>
                                </div>
                            </div>

                <form action="/shoppingCart/placeOrder" method="post" id="checkout-form">
                            <% 
                            if(userAddress){
                                userAddress.addresses.forEach((address) => {
                                    %>
                                    <div class="card mb-3">
                                        <div class="card-body d-flex">
                                            <div class="mx-3">
                                                <input type="radio" name="address" id="<%= address._id %>" value="<%= address._id %>" checked>
                                            </div>
                                            <div>
                                                <h5 class="card-title"><%= address.userName %> <%= address.mobile %></h5>
                                                <p><%= address.email %></p>
                                                <p class="card-text"> 
                                                    <%= 
                                                    address.town+' '+address.state+" "+address.country+" "+address.zip+' \n '+address.address
                                                    %>
                                                </p>
                                                <!-- <a href="#" class="btn btn-primary">Edit</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <%  
                                })
                            }

                            if(userAddress && userAddress.addresses.length >= 5){
                                %>
                                <div class="row d-flex justify-content-end mx-3">
                                    <p>You can add max of 5 Addresses</p>
                                </div>
                                <%
                            }else{
                                %>
                                <div class="row d-flex justify-content-end mx-3">
                                    <a href="/profile/addAddress?returnPage=checkout" class="btn btn-dark"  >Add Address</a>
                                </div>
                                <%
                            }
                            %>


                        </div>

                        <!-- right side -->
                        <div class="col-lg-4 col-md-6 mt-5 ps-2">



                            <div class="px-3 pt-3 pb-5 " style="background-color: #EBEFF1;">
                                <div class="">
                                    <div>
                                        <h3>Your Order</h3>
                                    </div>
                                    <hr>
                                    <div class="">


                                        <% 

                                        cart.forEach((pdt) => {
                                            %>
                                            <div class="row">
                                                <div class="col-8">
                                                    <div class="mt-3 pb-2">
                                                        <span><%= pdt.productId.name %> x <%= pdt.quantity %></span>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="mt-3 pb-2">
                                                        <span>₹ <%= pdt.productId.price*pdt.quantity %></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <% 
                                        })
                                        
                                        %>



                                        
                                    </div>
                                    <div class="mt-4 mb-4">
                                        <hr>
                                    </div>

                                    <!-- price -->

                                    <% 
                                    let totalPrice = 0;
                                    let totalDiscount = 0
                                    for(let i=0; i<cart.length; i++){
                                        totalPrice += cart[i].productId.price*cart[i].quantity
                                        totalDiscount += cart[i].productId.discountPrice*cart[i].quantity
                                    }
                                    %>

                                    <div class="row">
                                        <div class="col-8">
                                            <div class="mb-3">
                                                <span><strong>SubTotal</strong></span>
                                            </div>
                                            <div class="mb-3">
                                                <span><strong>Discount</strong></span>
                                            </div>
                                            <div class="mb-3" id="couponDiscountLabelDiv" hidden>
                                                <span>
                                                    <strong>Coupon Discount</strong>
                                                    <a href="" onclick="removeCoupon()">remove</a>
                                                </span>
                                            </div>
                                            <div class="mb-3">
                                                <span><strong>Total</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="mb-3">
                                                <span>₹ <%= totalPrice %></span>
                                            </div>
                                            <div class="mb-3">
                                                <span style="color: rgb(0, 164, 19);">-₹ <%= totalDiscount %></span>
                                            </div>
                                            <div class="mb-3" id="couponDiscountDiv" hidden>
                                                <span id="couponDiscount" style="color: rgb(0, 164, 19);">-₹ </span>
                                            </div>
                                            <div class="mb-3">
                                                <% 
                                                let payAmount = totalPrice-totalDiscount
                                                %>
                                                <span id="payAmount"><strong>₹ <%= payAmount %></strong> </span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div style="color: rgb(0, 164, 19);font-size: 17px;" class="text-center">
                                        YOU SAVED ₹ <span id="totalSaved"><%=// totalDiscount %> </span>
                                    </div> -->
                                    <hr>

                                    <!-- payment -->
                
                                    <div class="mb-2">
                                        <h5 class="mb-4">Choose Payment</h5>
                                        <% 
                                        if(walletBalance){
                                            %>
                                            <input type="checkbox" name="walletCheckBox" id="walletCheckBox">
                                            <label for="walletCheckBox">
                                                <strong>Use wallet balance  
                                                    <span id="walletBalance">
                                                        &#8377; <%= Math.round(walletBalance) %>
                                                    </span>
                                                </strong>
                                            </label><br>
                                            <%  
                                        }
                                        %>
                                        <input type="radio" name="payment" id="COD"  value="COD" class="mx-2" ><label for="payment">COD</label><br>
                                        <input type="radio" name="payment" id="Razorpay"  value="Razorpay" class="mx-2" ><label for="payment">Razorpay</label><br>
                                        <input type="radio" name="payment" id="Wallet"  value="Wallet" class="mx-2" <% if(walletBalance < payAmount){  %> disabled <% } %> ><label for="payment">Wallet</label><br>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit"class="btn rounded-pill w-100 btn-dark" <% if(!userAddress){  %> disabled <%  } %>>Place Order</button>
                                    <% if(!userAddress){  %> <p>Add address to place order</p> <%  } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

                <!-- Explore Coupons Modal Start -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Coupons</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <% 
                            if(coupons && coupons.length){
                                coupons.forEach(coupon => {
                                    %>
                                    <div class="card px-2 mb-4">
                                        <div class="coupon bg-white rounded mb-3 d-flex justify-content-between border-1">
    
                                            <div class="tengah  d-flex w-100 justify-content-start">
                                                <div class="ps-2">
                                                    <span class="badge badge-success">Valid</span>
                                                    <h2 class="lead"><strong>
                                                            <%=coupon.name %>
                                                        </strong></h2>
                                                    <p class="text-muted mb-0">
                                                        <%=coupon.discount %>% off on purchase above ₹ <%=coupon.minPurchase %>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="kanan">
                                                <div class="info m-3 mt-4">
                                                    <a id="<%=coupon.name  %>"
                                                        class="btn btn-sm btn-outline-primary btn-block"
                                                        onclick="copyCoupon('<%=coupon.name  %>')">COPY</a>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                    <%  
                                })
                            }else{
                                %>
                                <small>No Coupons Available</small>
                                <%  
                            }
                            %>

                        </div>

                    </div>
                </div>
            </div>

            <!-- Modal End -->

<%- include('../partials/footer.ejs') %>  

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> -->

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $('#checkout-form').submit((e) => {
        e.preventDefault()
        $.ajax({
            url:'/shoppingCart/placeOrder',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (res) => {
                if(res.status == 'COD'){
                    location.href = '/orderSuccess'
                }else if(res.status == 'Razorpay'){
                    razorpayPayment(res.order)
                }else if(res.status == 'Wallet'){
                    location.href = '/orderSuccess'
                }
            }
        });
    });

    function razorpayPayment(order){
        var options = {
            "key": "rzp_test_cs7jdKVcE5oH7L", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Gent's Garage",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response){
                verifyPayment(response,order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Gents Garage Pvt Ltd"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzpl = new Razorpay(options)
        // console.log('opening razorpay');
        rzpl.open()
    }

    function verifyPayment(response,order){

        $.ajax({    //This function didn't invoked ??
            url:'/verifyPayment',
            method:'post',
            data:{
                payment,
                order
            },
            success:(res) => {
                if(res.status==true){
                    location.href = '/orderSuccess'
                }else{
                    // location.href = '/orderFailed'
                    alert('payment failed')
                }
            }
        });
    }

</script>

<script>
    $('#applyCoupon').submit((e) => {
        e.preventDefault()

        $.ajax({
            url:'/applyCoupon',
            method: 'post',
            data: $('#applyCoupon').serialize(),
            success: (res) => {
                if( res.status === true ){
                    $('#couponDiscount').html(`${res.couponDiscount}%`)
                    $('#payAmount').html(`₹ ${res.payAmount}`)
                    document.getElementById('couponDiscountDiv').hidden = false
                    document.getElementById('couponDiscountLabelDiv').hidden = false
                    $('#couponErr').html('')
                    if(res.isWalletHasPayAmount){

                        //Enabling wallet option
                        document.getElementById('Wallet').disabled = false
                        const walletCheckBox = document.getElementById('walletCheckBox');
                        const razorpayRadio = document.getElementById('Razorpay')
                        const COD = document.getElementById('COD')

                        function updatePaymentOptions(){
                            if(walletCheckBox.checked){
                                razorpayRadio.disabled = true
                                razorpayRadio.checked = false
                                COD.disabled = true
                                COD.checked = false
                            }else{
                                razorpayRadio.disabled = false
                                COD.disabled = false
                            }
                        }

                        //For initial setup of options
                        updatePaymentOptions()

                        //Listens to changes of options and update payment options
                        walletCheckBox.addEventListener('change',updatePaymentOptions);
                    }
                }else{
                    $('#couponErr').html(res.message)
                }
            }
        })
    })
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        const walletCheckBox = document.getElementById('walletCheckBox');
        const razorpayRadio = document.getElementById('Razorpay')
        const CODRadio = document.getElementById('COD')

        function updatePaymentOptions(){
            if(walletCheckBox.checked && walletBalance >= payAmount){
                razorpayRadio.disabled = true
                razorpayRadio.checked = false
                CODRadio.disabled = true
                CODRadio.checked = false
            }else{
                razorpayRadio.disabled = false
                CODRadio.disabled = false
            }
        }

        //For initial setup of options
        updatePaymentOptions()

        //Listens to changes of options and update payment options
        walletCheckBox.addEventListener('change',updatePaymentOptions);
    });
    
</script>

<script>
    function removeCoupon() {
        $.ajax({
            url: '/removeCoupon',
            method: 'get',
            success: (res) => {
                if (res.status == true) {
                    location.reload()
                }
            }
        })
    }
</script>
<script>
    function copyCoupon(couponName) {
        document.getElementById(couponName).innerHTML = "COPIED"
        navigator.clipboard.writeText(couponName);
    }
</script>

<%- include('../partials/script.ejs') %>