
<%- include('../partials/head.ejs') %>
<%- include('../partials/userHeader.ejs') %>
<%- include('../partials/userBreadcrub.ejs') %>


    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% 
                                let totalPrice = 0
                                for(let i=0; i<cartItems.length; i++){
                                    %>
                                    <tr>
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic">
                                                <img width="100px" src="/productImages/<%= cartItems[i].images[0] %>" alt="Product image">
                                                <%// console.log(cartItems[i].images[1]) %>
                                            </div>
                                            <div class="product__cart__item__text">
                                                <h6><%= cartItems[i].name %></h6>
                                                <h6><%= cartItems[i].brand %></h6>
                                                <h5>&#8377;<%= cartItems[i].price %></h5>
                                            </div>
                                        </td>
                                        <td class="quantity__item">
                                            <div class="row d-flex justify-content-center align-items-center">
                                                <a class="btn" href="/shop/cart/decrement">-</a>
                                                <div><%= cartItems[i].quantity %></div>
                                                <a class="btn" href="/shop/cart/increment">+</a>
                                            </div>
                                            <!-- <div class="quantity">
                                                <div class="pro-qty-2">
                                                    <input type="text" value="<%=// cartItems[i].quantity %>">
                                                </div>
                                            </div> -->
                                        </td>
                                        <td class="cart__price">&#8377;<%= cartItems[i].price*cartItems[i].quantity %></td>
                                        <% 
                                        totalPrice = totalPrice + (cartItems[i].price*cartItems[i].quantity);
                                        %>
                                        <td class="cart__close">
                                            <form action="/shoppingCart/removeItem/<%= cartItems[i]._id %>" method="post">
                                                <button class="border-0 bg-transparent" type="submit">
                                                    <i class="fa fa-close"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% 
                                }
                                %>


                                <!-- <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="img/shopping-cart/cart-2.jpg" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>Diagonal Textured Cap</h6>
                                            <h5>$98.49</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ 32.50</td>
                                    <td class="cart__close"><i class="fa fa-close"></i></td>
                                </tr>
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="img/shopping-cart/cart-3.jpg" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>Basic Flowing Scarf</h6>
                                            <h5>$98.49</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ 47.00</td>
                                    <td class="cart__close"><i class="fa fa-close"></i></td>
                                </tr>
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="img/shopping-cart/cart-4.jpg" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>Basic Flowing Scarf</h6>
                                            <h5>$98.49</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ 30.00</td>
                                    <td class="cart__close"><i class="fa fa-close"></i></td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="#">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                    </div>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <!-- <li>Subtotal <span>$ 169.50</span></li> -->
                            <li>Total <span> &#8377; <%= totalPrice %></span></li>
                        </ul>
                        <a href="#" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->



<%- include('../partials/footer.ejs') %>  
<%- include('../partials/script.ejs') %>